{% extends 'base.html' %} {% block sidebar %}
<form method="get" action="{% url 'index' %}">
  {{ form }}
  <input class="btn btn-primary" type="submit" name="Filter results" />
  <a href="{% url 'index' %}?reset=true" class="btn btn-secondary"
    >Reset filters</a
  >
</form>
{% endblock %} {% block content %}
<table class="table">
  <thead>
    <th>Name</th>
    <th>Thumbnail</th>
    <th>Description</th>
    <th>Ages</th>
    <th>Price</th>
  </thead>

  <tbody>
    {% for p,i in products %}
    {% with img=i.image %}
    <tr>
      <td><a href="{% url 'show' p.id %}">{{ p.name }}</a></td>
      <td>
      {% if img %}
        {% if img.width > img.height %}
            <img src="{{img.url}}" alt="{{i.caption}}" width="100"/></td>
        {% else %}
        <img src="{{img.url}}" alt="{{i.caption}}" height="100"/></td>
        {% endif %}
      {% endif %}
      </td>
      <td>{{ p.description|truncatewords:5 }}</td>
      <td class="right">{{ p.age_range }}</td>
      <td class="right">{{ p.price|floatformat:2 }}</td>
    </tr>
    {% endwith %} 
    {% endfor %}
  </tbody>
</table>
{% endblock %}
