<div class="container">
  {% extends "base.html" %} {% block content %}

  <p class="lead">Details for {{product.name}}</p>
  <dl>
    <dt>Description</dt>
    <dd>{{product.description}}</dd>
    <dt>Ages</dt>
    <dd>{{product.age_range}}</dd>
    <dt>Price</dt>
    <dd>{{product.price}}</dd>
  </dl>
  {% if images %}
  <section class="gallery">
    {% for i in images %}
    <div class="gallery_item">
      <input
        type="radio"
        id="img-{{forloop.counter0}}"
        checked
        name="gallery"
        class="gallery_selector"
      />
      <img class="gallery_img" src="{{i.image.url}}" alt="" />
      <label for="img-{{forloop.counter0}}" class="gallery_thumb">
        {% if img.width > img.height %}
        <img src="{{i.image.url}}" width="150" alt="" />
        {% else %}
        <img src="{{i.image.url}}" height="150" alt="" />
        {% endif %}
      </label>
    </div>
    {% endfor %}
  </section>
  {% endif %} {% endblock %} {% block footer %}
  <br />
  <div>
    <a class="btn btn-primary" href="{% url 'index' %}">Back to all toys</a>
  </div>

  {% endblock %}
</div>
